<!-- Index do dashboard Controller -->
<div class="container" ng-controller="EventsCtrl">
  <div class="jumbotron">
    <h1>AngularJS Tutorial</h1>
    <p>by Marcel Vieira <br>
      <small ng-bind="app"></small>
    </p>
    
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" placeholder="Digite o que deseja buscar..." ng-model="buscador" class="form-control">
      <table class="table table-dark table-striped">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th>Place</th>
        </tr>
        <tr ng-repeat='event in events | filter: {name: buscador}'>
          <td>{{event.name}}</td>
          <td>{{event.event_date}}</td>
          <td>{{event.description}}</td>
          <td>{{event.place}}</td>
        </tr>
      </table>
       <form class="form-inline" ng-submit="addEvent(event)">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" ng-model="event.name" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="place" placeholder="Place" ng-model="event.place" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="event_date" placeholder="Event date" ng-model="event.event_date" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Description" ng-model="event.description" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="!event.name || !event.place || !event.event_date || !event.description">Add</button>
          </div>
      </form>
    </div>
  </div>
</div>